@using AnimalShelterClient.Models
@model AnimalShelterClient.Models.Animal

@{
	Layout = "_Layout";
}

<h1 id="title">Animal Details</h1>

<hr />

<p>
	<u><h3>@Model.Name</h3></u>
	<h4><b>Species:</b> @Model.Species</h4>
	<h4><b>Gender:</b> @Model.Gender</h4>
	<h4><b>Age:</b> @Model.Age</h4>
</p>

<hr />

@if(ApiHelper.HasUpdatePermission)
{
	@Html.ActionLink($"Edit {@Model.Name}", "Edit", "Animals", new { id = Model.AnimalId, version = ApiHelper.ApiVersion })

	if (ApiHelper.HasDeletePermission)
	{
		<span>|</span>
		@Html.ActionLink($"Delete {@Model.Name}", "Delete", "Animals", new  { id = Model.AnimalId, version = ApiHelper.ApiVersion })
	}

	<br>
}

@Html.ActionLink("All animals", "Index", "Animals", new { version = ApiHelper.ApiVersion })
|
@Html.ActionLink("Home", "Index", "Home")